API_ID=6435225
API_HASH=4e984ea35f854762dcde906dce426c2d
BOT_TOKEN=your_bot_token_from_botfather
OWNER_ID=your_telegram_user_id
MONGO_URL=mongodb+srv://...
STRING_SESSION=your_pyrogram_string_session_optional
API=http://localhost:8000/api/chat?query=
SUPPORT_GRP=RashiSupport
UPDATE_CHNL=RashiUpdates
OWNER_USERNAME=RashiOwner
